
h1{
    color: #f0f0f0;
    font-size: 2.1rem;
}
.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80dvh;
    position: relative;
}

.header__info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: viewMyInfo .9s both;
}

.header__info-container h2{
    color: #b0b0b0;
}

.header__info-container span{
    color: #81c784;
}

.header__title-container{
    text-align: center;
}

.header__logo-container img{
    user-select: none;
    width: clamp(64px, 30dvw, 250px);
}

.header__content-container{
    text-align: center;
    padding: 18px;
    color: #f0f0f0;
    font-size: 1.12rem;
}

.arrow-down{
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    color: #3949ab;
    animation: arrowDown 1s infinite;
}

@keyframes arrowDown{
    from{
        top: 98%;
    }

    to{
        top: 100%;
    }
}

@keyframes viewMyInfo{
    from{
        bottom: 100px;
        opacity: 0;
    }

    to{
        bottom: 0;
        opacity: 1;
    }
}

@media screen and (min-width: 52rem){
    .header__info-container{
        flex-direction: row;
    }
}